.cont-grid-2x {
    display: grid;
    width: 90vw;
    height: 0;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    grid-gap: 2rem;
    margin: auto;
  
    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }
  }

.cont-grid-3x {
  background: transparent;
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;

  @include respond(tab-land) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
}

.grid__without-gap {
  grid-gap: 0;
}